*{
  padding: 0px;
  margin: 0px;
  
}


html, body{
   
  box-sizing: border-box;
  width: 100%;
  height: 99%;
  overflow-x: hidden;
  background-color: rgb(228, 228, 228);

   padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

#root{
  height: 100%;
}